.product-title {
  display: flex;
  align-items: center;
  padding: 20px;
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.card {
  width: 240px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.card-image {
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.card:hover img {
  transform: scale(1.2);
}

.card-body {
  padding: 8px;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.card-title {
  font-size: 14px;
  font-weight: 500;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  flex: 1;
}

.card-body mark {
  padding: 2px 8px;
  font-size: 14px;
  margin: 10px 0 20px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.card-price-item {
  font-size: 14px;
  color: #555;
}

.card-price-item h3 {
  font-size: 18px;
  color: black;
  margin-top: 10px;
}

.card-btn-basket {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #22222244;
  border-radius: 50%;
  background-color: inherit;
}
/* Savatga qo'shish tugmasi */
.card-btn-basket {
  background-color: #f7f7f7; /* Tugma orqa rang */
  border: 1px solid #ccc; /* Chegarani qo'shish */

  border-radius: 50%; /* Tugma shakli */
  cursor: pointer; /* Kursorga ko'rsatiladigan belgini o'zgartirish */
  transition: background-color 0.3s, transform 0.3s; /* Hover va active uchun animatsiya */
}

.card-btn-basket:hover {
  background-color: var(--color-thirt); /* Hover holatdagi orqa rang */
  transform: scale(1.1); /* Hover holatdagi kattalik o'zgarishi */
}

.card-btn-basket:active {
  background-color: var(--color-thirt); /* Bosilgan holatdagi orqa rang */
  transform: scale(1); /* Bosilgan holatda kattalik o'zgarishi */
}

.card-btn-basket svg {
  color: #333; /* Ikonkaning rangi */
  transition: color 0.3s; /* Ikonkadagi rangni animatsiya qilish */
}

.card-btn-basket:hover svg {
  color: #fff; /* Hover holatida ikonka rangi */
}

.card-btn-basket:active svg {
  color: #fff; /* Bosilgan holatdagi ikonka rangi */
}

@media (max-width: 1000px) {
  .product-title {
    display: flex;
    align-items: center;
    padding: 15px;
  }
  
  .product-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .card {
    width: 190px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
  }
  
  .card-image {
    width: 100%;
    height: 280px;
    overflow: hidden;
    position: relative;
  }

  
  .card-title {
    font-size: 8px;
    font-weight: 400;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    flex: 1;
  }
  
  .card-body mark {
    padding: 2px 8px;
    font-size: 12px;
    margin: 10px 0 20px;
  }
  

  
  .card-price-item {
    font-size: 10px;
    color: #555;
  }
  
  .card-price-item h3 {
    font-size: 14px;
    color: black;
    margin-top: 10px;
  }
  
  .card-btn-basket {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid #22222244;
    border-radius: 50%;
    background-color: inherit;
  }
}
@media (max-width: 450px) {
  .product-title {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .product-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .card {
    width: 150px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  .card:hover img {
    transform: scale(1.2);
  }
  
  .card-title {
    font-size: 14px;
    font-weight: 300;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    flex: 1;
  }
  
  .card-body mark {
    padding: 2px 8px;
    font-size: 11px;
    margin: 10px 0 20px;
  }
  

  
  .card-price-item {
    font-size: 9px;
    color: #555;
  }
  
  .card-price-item h3 {
    font-size: 13px;
    color: black;
    margin-top: 8px;
  }
  
  .card-btn-basket {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid #22222244;
    border-radius: 50%;
    background-color: inherit;
  }
}


/* Bildirishnoma uslubi */
.notification {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-thirt);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1000;
  animation: fadeIn 0.5s ease-out, fadeOut 0.5s ease-in 2.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
/* Product.css */

/* Yoqtirish ikonkasi */
.like-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #ccc; /* Rangi dastlabkul rangda */
  cursor: pointer;
  transition: fill 0.3s ease;
}

/* Yoqtirilgan mahsulotni bildiradigan holat */
.like-icon.liked {
  fill: var(--color-thirt); /* Ichki rangini qizilga o'zgartiramiz */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
